.pizza-form {

  // .pizza-display {
  //   margin: 0 0 35px;
  // }

  label {
    margin: 0 0 35px;
    display: block;
    h4 {
      margin: 0 0 15px;
    }
  }


  &__actions {
    margin: 35px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      &:last-child {
        margin-left: auto;
      }
    }
  }

  &__list {
    margin: -20px 0 0;
  }

}
